.weight-seven{
    font-family: 'Outfit', sans-serif;
    font-weight:700; 
    font-size: 30px; 
    color: hsl(218, 44%, 22%); 
}


.weight-four{
    font-family: 'Outfit', sans-serif; 
    font-weight:400; 
    font-size: 30px; 
    color: hsl(220, 15%, 55%); 
}

.biggest-container{
    min-height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.qr-container{
    padding: 15px;
    border-radius: 25px; 

    max-width: 400px; 
 
    text-align:center; 
    background-color: white; 
}

.qr-image{
    width: 100%
    
}

html {
    background-color: hsl(212, 45%, 89%)
}

.attribution{ 
    text-align:center; 
    position: relative; 

}